<script>
    //CHANGE PARA CAMBIAR LA MARCA
    document.addEventListener('DOMContentLoaded', function() {
        const selectMarca = document.getElementById('selectMarca');
        const showMarca = document.getElementById('showMarca');

        selectMarca.addEventListener('change', function() {
            showMarca.textContent = this.value;
            document.getElementById('marca').value = this.value;
        });
    });

    // CHANGE PARA OFERTA ACTIVA O NO
    document.addEventListener('DOMContentLoaded', function() {
    const selectOffAct = document.getElementById('selectOffAct');
    const showOfferAct = document.getElementById('showOfferAct');

    selectOffAct.addEventListener('change', function() {
        showOfferAct.textContent = this.value;
        document.getElementById('offActiva').value = this.value;
        });
    });

    // CHANGE PARA VISIBLE O NO
    document.addEventListener('DOMContentLoaded', function() {
        const selectVisible = document.getElementById('selectVisible');
        const showOfferAct = document.getElementById('showActivo');

        selectVisible.addEventListener('change', function() {
            // Actualizar el texto en el span
            showOfferAct.textContent = this.value;
            
            // Convertir el valor seleccionado a un booleano
            const activoValue = this.value === 'Visible';

            // Asignar el valor booleano al input oculto
            document.getElementById('activo').value = activoValue;
        });
    });

    // CHANGE PARA NUEVO O VIEJO
    document.addEventListener('DOMContentLoaded', function() {
        const selectedNuevo = document.getElementById('selectNuevo');
        const showOfferAct = document.getElementById('showNuevo');

        selectedNuevo.addEventListener('change', function() {
            // Actualizar el texto en el span
            showOfferAct.textContent = this.value;
            
            // Convertir el valor seleccionado a un booleano
            const activoValue = this.value === 'Nuevo';

            // Asignar el valor booleano al input oculto
            document.getElementById('productoNuevo').value = activoValue;
        });
    });

    // CHANGE PARA CATEGORIA
    document.addEventListener('DOMContentLoaded', function() {
        const selectCategoria = document.getElementById('selectCate');
        const showCategoria = document.getElementById('showCate');

        selectCategoria.addEventListener('change', function() {
            showCategoria.textContent = this.value;
            document.getElementById('categoria').value = this.value;
        });
    });

    // CHANGE PARA GENERO
    document.addEventListener('DOMContentLoaded', function() {
        const selectGenero = document.getElementById('selectGenero');
        const showGenero = document.getElementById('showGenero');

        selectGenero.addEventListener('change', function() {
            showGenero.textContent = this.value;
            document.getElementById('genero').value = this.value;
        });
    });

    //  CHANGE PARA SUBCATEGORIA
    document.addEventListener('DOMContentLoaded', function() {
        const selectSubcategoria = document.getElementById('selectSubcategoria');
        const showSubcategoria = document.getElementById('showSubcategoria');

        selectSubcategoria.addEventListener('change', function() {
            showSubcategoria.textContent = this.value;
            document.getElementById('subcategoria').value = this.value;
        });
    });

</script>






<div class="col-md-12 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Editar producto: {{producto.nombre}} id: {{producto._id}}</h3>
        </div>
        
        <div class="card-body">
            <form action="/products/edit/{{producto._id}}?_method=PUT" method="POST">
            {{!-- <form action="/products/edit/{{producto._id}}?_method=PUT" method="POST" enctype="multipart/form-data"> --}}
                <input type="hidden" name="_method" value="PUT">
                <div class="container">
                    
                        <div class="col-sm">
                            
                            <div class="form-group">
                                <label >Nombre: {{producto.nombre}}</label>
                                <input type="text" name="nombre" class="form-control" value="{{producto.nombre}}">
                            </div>

                            <div class="form-group">
                                <input type="hidden" id="marca" name="marca" value="{{producto.marca}}">
                                <label for="">Marca Actual: {{producto.marca}}</label>
                                <label for="">Cambiar a: <span id="showMarca">{{producto.marca}}</span></label>
                                <select name="selectMarca" id="selectMarca">
                                    {{#each ListaMarcas}}
                                        <option value="{{nombre}}" selected>{{nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <textarea name="descripcion" placeholder="Descripcion" class="form-control">{{producto.descripcion}}</textarea>
                            </div>

                            <div class="form-group">
                                <label >Precio Actual: {{producto.precio}}</label>
                                <input type="number" name="precio" class="form-control" value="{{producto.precio}}">
                            </div>

                            <div class="form-group">
                                <input type="hidden" id="offActiva" name="offActiva" value="{{producto.oferta.offActiva}}">
                                <label for="selectOffAct">Oferta: <span id="showOfferAct">
                                    {{#if producto.oferta.offActiva}}
                                        Activada
                                    {{else}}
                                        Desactivada
                                    {{/if}}
                                </span></label>
                                <select name="selectOffAct" id="selectOffAct">
                                        <option value="Activada" {{#if producto.oferta.offActiva}} selected {{/if}}>Activada</option>
                                        <option value="Desactivada" {{#unless producto.oferta.offActiva}} selected {{/unless}}>Desactivada</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label >Descuento Actual: {{producto.oferta.descuento}} %</label>
                                <input type="number" name="descuento" class="form-control" value="{{producto.oferta.descuento}}">
                            </div>

                            <div class="form-group">
                                <input type="hidden" id="activo" name="activo" value="{{producto.activo}}">
                                <label for="selectActDes">Producto: <span id="showActivo">
                                    {{#if producto.activo}}
                                        Visible
                                    {{else}}
                                        No-Visible
                                    {{/if}}
                                </span></label>
                                <select name="selectVisible" id="selectVisible">
                                        <option value="Visible" {{#if producto.activo}} selected {{/if}}>Visible</option>
                                        <option value="No-Visible" {{#unless producto.activo}} selected {{/unless}}>No-Visible</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="hidden" id="productoNuevo" name="productoNuevo" value="{{producto.productoNuevo}}">
                                <label for="selectNuevo">Producto: <span id="showNuevo">
                                    {{#if producto.productoNuevo}}
                                        Nuevo
                                    {{else}}
                                        Viejo
                                    {{/if}}
                                </span></label>
                                <select name="selectNuevo" id="selectNuevo">
                                        <option value="Nuevo" {{#if producto.productoNuevo}} selected {{/if}}>Nuevo</option>
                                        <option value="Viejo" {{#unless producto.productoNuevo}} selected {{/unless}}>Viejo</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="hidden" id="categoria" name="categoria" value="{{producto.categoria}}">
                                <label for="">Categoria Actual: {{producto.categoria}}</label>
                                <label for="">Cambiar a: <span id="showCate">{{producto.categoria}}</span></label>
                                <select name="selectCate" id="selectCate">
                                        <option value="adulto" selected>adulto</option>
                                        <option value="infante" selected>infante</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="hidden" id="genero" name="genero" value="{{producto.genero}}">
                                <label for="">Genero Actual: {{producto.genero}}</label>
                                <label for="">Cambiar a: <span id="showGenero">{{producto.genero}}</span></label>
                                <select name="selectGenero" id="selectGenero">
                                        <option value="maculino" selected>maculino</option>
                                        <option value="femenino" selected>femenino</option>
                                        <option value="unisex" selected>unisex</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <input type="hidden" id="subcategoria" name="subcategoria" value="{{producto.subcategoria}}">
                                <label for="">Subcategoria Actual: {{producto.subcategoria}}</label>
                                <label for="">Cambiar a: <span id="showSubcategoria">{{producto.subcategoria}}</span></label>
                                <select name="selectSubcategoria" id="selectSubcategoria">
                                        {{#each ListaSubCategorias}}
                                            <option value="{{nombre}}" selected>{{nombre}}</option>
                                        {{/each}}
                                </select>
                            </div>

                        </div>

                        <button class="btn btn-primary btn-block" type="submit">
                            Guardar
                        </button>
                    
                </div>
            </form>
        </div>
    </div>
    
</div>